/* latin */
@font-face {
    font-family: 'SB Heading';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2)
            format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'SB Heading';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2)
            format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.masthead {
    background: url("https://i.ibb.co/QQn04FS/Headerbackgroundnew.https://i.ibb.co/QQn04FS/Headerbackgroundnew.png"); 
    background-size: 1600px 960px;
    background-color: rgb(255, 180, 164) !important;
    background-position: center;
    background-repeat: no-repeat; 
}

.masthead .masthead-avatar {
    width: 20rem;
    color: white;
    box-shadow: 1px 5px 20px 7px #3f0303;


}

 


.bg-secondary {
    background-color: transparent !important;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active {
    background-color: rgb(175, 224, 226);
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
    background-color: rgb(206, 117, 147);
}

.text-secondary {
    color: white !important;
}



a {
    color:rgb(53, 0, 0) !important;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    font-weight: bold;

}

h2 {
    font-family: 'Darker Grotesque', sans-serif;
    color:rgb(53, 0, 0);
    text-shadow: 0px -3px 5px #ffeded;
}



p#title {
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 65px;
    color:rgb(53, 0, 0);
    text-shadow: 4px 4px 5px #ffeded;
    font-weight: bold;


}

.portfolio {

    background: linear-gradient(to bottom, rgb(255, 180, 164), 0%, rgb(255, 180, 164)20%, rgb(173, 29, 48) 100%)

}

section#aboutSection {
    background-image: url("https://wallpapercave.com/wp/wp3239002.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(173, 29, 48); 
    color: rgb(236, 233, 233);
    font-family: 'Darker Grotesque', sans-serif;

}

p.pre-wrap.lead {
    font-weight: bolder;
    background: transparent;
    color: rgb(255, 255, 255);
    
}
  
p.pre-wrap.lead:hover {
    background-color: rgba(109, 0, 36, 0.596);
    color: rgb(255, 250, 238);
    transition: 1.3s;
    opacity: 1;
    transform: scale(1.24)


  }

section#contact {
    background-color: rgb(173, 29, 48);
}

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 17.3rem;
    height: .25rem;
    background-color: rgb(175, 224, 226);
    border-radius: 1rem;
    border-color: #10d1a7!important;
}

.btn {
    background-color: rgb(175, 224, 226);
    z-index: 1;
    font-size: 50px;

    
}

.btn-group-lg>.btn, .btn-lg:active {
    padding: 1rem 3rem;
    font-size: 3rem;
    line-height: 1.5;
    border-radius: .75rem;
    transform: translateY(-1px);
    
}

.btn-group-lg>.btn, .btn-lg:hover {
    background-color: rgb(206, 117, 147);
    transition: 1.3s;
    opacity: 1;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}



.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 30px 100px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

/* .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
} */



.btn-group-lg>.btn, .btn-lg::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-group-lg>.btn, .btn-lg::after {
    background-color: rgb(206, 117, 147);
}

.btn-group-lg>.btn, .btn-lg:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}




.btn-link {

    margin-left: 423px;
    /* padding: 30px 120px; */
    display: inline-block;
    border-radius: 100px;
    z-index: 2;
    opacity: .9;
    position: absolute;                       
    font-size: 50px;
    line-height: 1.5;
    border-radius: .75rem;
    /* transform: translateY(-1px); */
}

/* .btn-github {
    z-index: 2;
} */

.btn-email {
        margin-left: 860px;
    /* padding: 30px 120px; */
    display: inline-block;
    border-radius: 100px;
    z-index: 3;
    opacity: .9;
    position: absolute;                       
    font-size: 50px;
    /* line-height: 1.5; */
    border-radius: .75rem;
    /* transform: translateY(-1px); */
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.footer {
    background-color: rgb(173, 29, 48);
}

.copyright {
    background-color: rgb(255, 180, 164);
}












/* section#contact.page-section {

} */

/* 
#mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
   transition: white 0.3s ease-in-out;
    transition-property: green;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s; 
}


@keyframes headerFade {
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
    } */

/* #mainNav.navbar-shrink {
    background-color: #fff;
/* } * */